<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercice Django</title>
    <link rel="shortcut icon" href="https://static.wixstatic.com/media/5836f9_c134a67169034076949e2c2f5f8c0e24%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/5836f9_c134a67169034076949e2c2f5f8c0e24%7Emv2.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
</head>
<body>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://static.wixstatic.com/media/5836f9_c134a67169034076949e2c2f5f8c0e24%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/5836f9_c134a67169034076949e2c2f5f8c0e24%7Emv2.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">EXERCICE DJANGO</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Tableau de bord énergétique de visualisation de données : date, région & quatité consommée</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
       <a href="/show_data"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">C'est parti !</button></a>
      </div>
    </div>
  </div>

</body>
</html>